{% extends "base.html" %}

{% block title %}{{ get_text('support') }}{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ get_text('support_chat') }}</h1>
    <p>{{ get_text('welcome_to_support_chat') }}</p>
    <p>{{ get_text('support_will_respond_soon') }}</p>
    
    <div id="support-chat-container">
        <div id="messages">
            <div class="message received">
                <p>{{ get_text('support_welcome_message') }}</p>
                <small>Support Team - {{ current_time.strftime('%H:%M') }}</small>
            </div>
        </div>
        
        <div id="input-container">
            <textarea id="message-input" placeholder="{{ get_text('type_your_message') }}"></textarea>
            <button id="send-button">{{ get_text('send_message') }}</button>
        </div>
    </div>
    
    <h2>{{ get_text('need_immediate_help') }}</h2>
    <p>{{ get_text('contact_us_by_email') }} <a href="mailto:sup.fetdate@gmail.com">sup.fetdate@gmail.com</a></p>
    <p>{{ get_text('typical_response_time') }}</p>
</div>
{% endblock %}